.rank-info {
  display: flex;
  align-items: center;
  justify-items: space-around;
  background-color: cadetblue;
  border-radius: 20px;
  color: gold;
  margin: 20px 10px;
  height: 120px;
  .avatar {
    margin-left: 40px;
  }
  .name {
    margin-left: 20px;
    width: 300px;
  }
  .score {
    width: 150px;
  }
  .rank {
    width: 100px;
    margin-right: 20px;
  }
}
